<style>
  body {
    background-color: black;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<body>
  <div>
    <div style="display: flex; justify-content: center">
      <img
        width="150"
        src="https://res.cloudinary.com/dhikr416c/image/upload/c_fill/v1739178229/logo_8c790367f0.png"
      />
    </div>
    <div style="display: flex; justify-content: center">
      <div style="padding: 16px">
        <button id="broadcast-toggle" style="font-size: 32px">Broadcast</button>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const broadcastToggleButton = document.getElementById("broadcast-toggle");

      broadcastToggleButton.addEventListener("click", function (event) {
        event.preventDefault();
        if (event.currentTarget.innerText === "Broadcast") {
          fetch("/start").then((response) => {
            if (response.ok) {
              broadcastToggleButton.innerText = "Stop";
            } else {
              alert("Error");
            }
          });
        }

        if (event.currentTarget.innerText === "Stop") {
          fetch("/stop");
          broadcastToggleButton.innerText = "Broadcast";
        }
      });
    });
  </script>
</body>
